@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Container */
.vsl-container {
    background: linear-gradient(to top, rgb(104 46 46),rgba(31, 31, 31, 0.9),);
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 2rem;
  }
  
  /* Header */
  .vsl-header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .headingBoldText{
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
  }

  .highlight {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    background: linear-gradient(to bottom, #ffffff 50%, #b48c45 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
  }

  

  .mainHeading{
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
  
  .logo-bold {
    font-weight: bold;
    color: white;
  }
  
  .logo-colored {
    color: #fbc02d;
  }
  
  .vsl-headline {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .vsl-headline h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.4;
  }
  
  .highlight-white {
    color: #fff;
  }
  
  .highlight-colored {
    color: #00ff99; /* neon green like in your screenshot */
  }
  
  .highlight-boxed {
    background-color: #fbc02d;
    color: #000;
    padding: 5px 10px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 4px;
  }
  
  /* Video Section */
  .vsl-video-wrapper {
    max-width: 70vw;
    margin: 0 auto 30px auto;
  }
  
 
  
  /* CTA Section */
  .vsl-cta {
    margin-top: 20px;
  }
  
  .vsl-cta p {
    margin: 10px 0;
  }
  
  .limited {
    color: red;
  }
  
 
  
  .Book_link_vsl {
    background-color: white;
    color: #000;
    border: none;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .Book_link_vsl:hover {
    background-color: #fbc02d;
  }
  
  