.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; // Full viewport height
    width: 100%;
    position: fixed; // Or absolute, depending on your layout needs
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); // Optional: semi-transparent background
    z-index: 9999; // Ensure it's on top
  
    p {
      margin-top: 20px;
      font-size: 1.2em;
      color: #333;
    }
  }
  
  .loader-spinner {
    border: 8px solid #f3f3f3; // Light grey
    border-top: 8px solid #3498db; // Blue
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }